<%= form_with(model: [:admin, subject], local: true) do |form| %>
  <h1>
    <% if subject.new_record? %>
      New subject
    <% else %>
      Edit subject
    <% end %>

    <div class="actions float-right">
      <%= link_to 'Cancel', :back, class: "btn btn-light border" %>
      <%= link_to 'Destroy', admin_subject_path(subject), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <%= form.submit "Save", :class => "btn btn-primary" %>
    </div>
  </h1>

  <hr>

  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label "Room" %>
        <%= form.select :room_id, options_from_collection_for_select(Room.all, "id", "name"), {}, :class => "form-control" %>
      </div>
    </div>
    <div class="col-6">

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>
