<% subjects.each do |subject| %>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card border-success mb-4">
      <h4 class="card-header text-success">
        <%= icon("fas", "seedling") %> <%= link_to grow_subject_path(subject.grow, subject) do %>
          <%= subject.name %> <small class="text-secondary" style="font-size: 0.8rem">(<%= subject.strain_name %>)</small> 
        <% end %>        
        <div class="float-right">
          <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle bg-transparent text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= icon "fas", "cog", class: "mr-4" %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

              <%= link_to new_grow_subject_observation_path(subject.grow, subject, subject_ids: [subject.id]), class: "dropdown-item" do %>
                <%= icon( "fas", "plus") %> <%= icon( "fas", "comment-dots") %> Observation
              <% end %>

              <div class="dropdown-divider"></div>

              <% Room.all.where.not(id: subject.room.id).each do |room| %>
                <%= link_to move_to_admin_grow_subject_path(subject.grow, subject, to_room_id: room.id), method: :post, class: "dropdown-item" do %>
                    Move to <%= room.name %>
                <% end %>
              <% end %>

              <div class="dropdown-divider"></div>

              <% Grow.active_grows.where.not(id: subject.grow.id).each do |grow| %>
                <%= link_to move_to_admin_grow_subject_path(subject.grow, subject, to_grow_id: grow.id), method: :post, class: "dropdown-item" do %>
                    Move to <%= grow.description %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </h4>
      <%#= render partial: "admin/observations/observations", locals: { observations: subject.observations.limit(1) } %>
    </div>
  </div>
<% end %>

