<p id="notice"><%= notice %></p>

<h1>Observations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Grow</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Water</th>
      <th>Nutrients</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.user_id %></td>
        <td><%= observation.grow_id %></td>
        <td><%= observation.subject_id %></td>
        <td><%= observation.body %></td>
        <td><%= observation.water %></td>
        <td><%= observation.nutrients %></td>
        <td><%= link_to 'Show', observation %></td>
        <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
        <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observation', new_observation_path %>
