<p id="notice"><%= notice %></p>

<h1>
  Strains
  <div class="float-right">
    <%= link_to 'New Strain', new_admin_strain_path, class: "btn btn-success" %>
  </div>
</h1>

<%= form_tag admin_strains_path, method: :get, class: "form-inline mb-2" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control mr-2"%>

  <%= select_tag :strain_type, options_for_select([''] + Strain.strain_types.keys, params[:strain_type]), class: "form-control selectpicker mr-2", data: { style: "btn-white", live_search: true, size: 10, title: "Type", width: '150px' } %>

  <%= select_tag :breeder, options_for_select([''] + @breeders, params[:breeder]), class: "form-control selectpicker mr-2", data: { style: "btn-white", live_search: true, size: 10, title: "Breeder…", width: '150px' } %>

  <%= select_tag :effect, options_for_select([''] + @effects, params[:effect]), class: "form-control selectpicker mr-2", data: { style: "btn-white", live_search: true, size: 10, title: "Effect…", width: '150px' } %>

  <%= select_tag :ailment, options_for_select([''] + @ailments, params[:ailment]), class: "form-control selectpicker mr-2", data: { style: "btn-white", live_search: true, size: 10, title: "Ailment…", width: '150px' } %>

  <%= select_tag :flavor, options_for_select([''] + @flavors, params[:flavor]), class: "form-control selectpicker mr-2", data: { style: "btn-white", live_search: true, size: 10, title: "Flavor…", width: '150px' } %>

  <%= select_tag :location, options_for_select([''] + @locations, params[:location]), class: "form-control selectpicker mr-2", data: { style: "btn-white", live_search: true, size: 10, title: "Location…", width: '150px' } %>

  <%= submit_tag "Filter", class: "btn btn-info" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Breeder</th>
      <th>Location</th>
      <th>Type</th>
      <th>Effects</th>
      <th>Ailments</th>
      <th>Flavors</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @strains.each do |strain| %>
      <tr>
        <td><b><%= link_to strain.name, [:admin, strain] %></b></td>
        <td>
          <%= link_to admin_strains_path(breeder: strain.breeder ) do %>
            <%= strain.breeder %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_strains_path(location: strain.location ) do %>
            <%= strain.location %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_strains_path(strain_type: strain.strain_type ) do %>
            <%= strain.strain_type %>
          <% end %>
        </td>
        <td>
          <% if strain.effects %>
            <% strain.effects.each do |effect| %>
              <%= link_to admin_strains_path(effect: effect) do %>
                <span class="badge badge-secondary"><%= effect %></span>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if strain.ailments %>
            <% strain.ailments.each do |ailment| %>
              <%= link_to admin_strains_path(ailment: ailment) do %>
                <span class="badge badge-primary"><%= ailment %></span>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if strain.flavors %>
            <% strain.flavors.each do |flavor| %>
              <%= link_to admin_strains_path(flavor: flavor) do %>
                <span class="badge badge-success"><%= flavor %></span>
              <% end %>
            <% end %>
          <% end %>
        </td>
        
        <td><%= link_to 'Edit', edit_admin_strain_path(strain) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @strains %>