<h1>Events</h1>

<%= form_tag events_path, method: :get do %>
  <div class="form-inline mb-4">
    <%= text_field_tag :message, params[:message], value: params[:message], placeholder: "Search...", class: "form-control mr-2" %>

    <%= select_tag :event_type, options_for_select(Event.event_types.keys.map { |e| [e.titleize, e] }, params[:event_type]), include_blank: "Any event", class: "form-control mr-2" %>

    <%= select_tag :room_id, options_from_collection_for_select(Room.all, "id", "name", params[:room_id]), include_blank: "Any room", class: "form-control mr-2" %>

    <%= select_tag :grow_id, grouped_options_for_select([
                            ['Active', Grow.active_grows.collect {|v| [ v.name, v.id ] }],
                            ['Terminated', Grow.inactive_grows.collect {|v| [ v.name, v.id ] }]]), 
                            include_blank: "Any grow", class: "form-control mr-2" %>

    <%= select_tag :device_id, options_from_collection_for_select(Device.all, "id", "name", params[:device_id]), include_blank: "Any device", class: "form-control mr-2" %>

    <%= submit_tag "Search", class: "btn btn-sm btn-primary" %>
  </div>
<% end %> 

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">Event type</th>
      <th>Message</th>
      <th class="text-center">Object type</th>
      <th class="text-center">Ref</th>
      <th class="text-center">Date</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td class="text-center"><span class="badge badge-pill badge-<%= event.badge_class %>"><%= event.event_type.titleize %></span></td>
        <td class="text-monospace"><%= event.message.html_safe %></td>
        <td class="text-center"><%= event.eventable_type %></td>
        <td class="text-center text-primary"><%= event.eventable_link %></td>
        <td class="text-center"><small><%= fdatetime event.created_at %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @events %>