<h1>Events</h1>

<%= form_tag room_events_path(@room), method: :get do %>
  <div class="form-inline mb-4">
    <%= text_field_tag :message, params[:message], value: params[:message], placeholder: "Search...", class: "form-control mr-2" %>
    <%= select_tag :event_type, options_for_select(Event.event_types.keys.map { |e| [e.titleize, e] }, params[:event_type]), include_blank: "Any event", class: "form-control mr-2" %>
    <%= select_tag :room_id, options_from_collection_for_select(Room.all, "id", "name", params[:room_id]), include_blank: "Any room", class: "form-control mr-2" %>
    <%= select_tag :device_id, options_from_collection_for_select(Device.all, "id", "name", params[:device_id]), include_blank: "Any device", class: "form-control mr-2" %>

    <%= submit_tag "Search", class: "btn btn-sm btn-primary" %>
  </div>
<% end %> 

<table class="table">
  <thead>
    <tr>
      <th>Event type</th>
      <th>Message</th>
      <th>Data</th>
      <th>Room</th>
      <th>Device</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><span class="badge badge-pill badge-<%= event.badge_class %>"><%= event.event_type.titleize %></span></td>
        <td><code><%= event.message %></code></td>
        <td><%= event.data %></td>
        <td><%= link_to event.room.name, [:admin, event.room] if event.room %></td>
        <td><%= link_to event.device.name, [:admin, event.room, event.device] if event.device %></td>
        <td><small><%= fdatetime event.created_at %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @events %>