<p id="notice"><%= notice %></p>

<h1>Operations</h1>

<table>
  <thead>
    <tr>
      <th>Command</th>
      <th>Delay</th>
      <th>Retries</th>
      <th>Device</th>
      <th>Description</th>
      <th>Condition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.command %></td>
        <td><%= operation.delay %></td>
        <td><%= operation.retries %></td>
        <td><%= operation.device_id %></td>
        <td><%= operation.description %></td>
        <td><%= operation.condition_id %></td>
        <td><%= link_to 'Show', operation %></td>
        <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
        <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_operation_path %>
