<% subjects.each do |subject| %>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card border-success mb-4">
      <h4 class="card-header text-success">
        <%= icon("fas", "seedling") %> <%= link_to subject.name, grow_subject_path(subject.grow, subject) %>
        <div class="float-right">
          <%= link_to new_grow_subject_observation_path(subject.grow, subject, subject_ids: [subject.id]), class: "btn btn-sm text-success" do %>
            <%= icon( "fas", "plus") %> <%= icon( "fas", "comment-dots") %>
          <% end %>
        </div>
      </h4>
      <%#= render partial: "admin/observations/observations", locals: { observations: subject.observations.limit(1) } %>
    </div>
  </div>
<% end %>

