<div class="row">
  <% devices = room.devices.where.not(device_state: :idle) %>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <% if devices.empty? %>
      <div class="card mb-4">
        <div class="card-body p-4">
          <p class="p-4 text-center">
            <i>No device registered yet</i>
            <br>
            <%= link_to new_admin_room_device_path(room), class: "btn btn-outline-info mt-4" do %>
              <%= icon "fas", "plus" %> Device
            <% end %>
          </p>
        </div>
      </div>
    <% else %>
      <% devices.order(pin_number: :asc).each do |device| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <span class="badge badge-pill badge-<%= device.state_color %>"><%= device.device_state.titleize %></span>
              &nbsp;
              <%= link_to device.name, [device.room, device], style: "text-decoration: none; color: #666" %>
              <div class="float-right">
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle bg-transparent text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= icon "fas", "cog", class: "mr-4" %>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <%= link_to start_admin_room_device_path(device.room, device), method: :post, class: "dropdown-item text-success" do %>
                      <%= icon "fas", "play" %>
                      Start
                    <% end %>
                    <%= link_to stop_admin_room_device_path(device.room, device), method: :post, class: "dropdown-item text-danger"  do %>
                      <%= icon "fas", "stop" %>
                      Stop
                    <% end %>

                    <div class="dropdown-divider"></div>
                    <%= link_to edit_admin_room_device_path(device.room, device), class: "dropdown-item" do %>
                      <%= icon "fas", "edit" %>
                      Edit
                    <% end %>
                  </div>
                </div>
              </div>
            </h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <% sensor_devices = room.devices.where(device_state: :idle) %>
    <% if sensor_devices.empty? %>
      <div class="card mb-4">
        <div class="card-body p-4">
          <p class="p-4 text-center">
            <i>No sensor data yet</i>
            <br>
            <%= link_to new_admin_room_device_path(room), class: "btn btn-outline-info mt-4" do %>
              <%= icon "fas", "plus" %> Device
            <% end %>
          </p>
        </div>
      </div>
    <% else %>
      <% sensor_devices.each do |device| %>
        <% device.data_types.each do |data_type| %>
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to device.name, [device.room, device] %>
                <div class="float-right">
                  <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle bg-transparent text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= icon "fas", "cog", class: "mr-4" %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <%= link_to query_room_device_path(device.room, device), method: :post, class: "dropdown-item text-info"  do %>
                        <%= icon "fas", "question" %> Query
                      <% end %>

                      <div class="dropdown-divider"></div>

                      <%= link_to edit_admin_room_device_path(device.room, device), class: "dropdown-item text-success" do %>
                        <%= icon "fas", "edit" %> Edit
                      <% end %>
                    </div>
                  </div>
                </div>
              </h5>
              <p class="card-text">
                <h2 class="font-weight-light text-info" >
                  <% sample = device.last_sample(data_type) %>
                  <% if sample %>
                    <%= sample.value %> <%= sample.unit %>
                  <% end %>

                  <small style="font-size: 14px" class="text-muted">
                    <%= data_type.name %>
                  </small>
                </h2>

                <% samples = device.samples.where(data_type: data_type).order(created_at: :desc).limit(120) %>

                <% if !samples.empty? %>
                  <%= line_chart [{ 
                      name: data_type.name, 
                      data: samples.map { |e| [e.created_at, e.value] }, 
                      color: samples.first.html_color
                    }], 
                    adapter: "highcharts",
                    height: "125px",
                    name: device.name, 
                    library: {
                      time: {
                        timezone: Setting.time_zone,
                      },
                      chart: {
                        type: "area",
                        zoomType: 'x', 
                        panning: true, 
                        panKey: 'shift',
                        margin: [0, 0, 0, 0]
                      },
                      xAxis: {
                        visible: false
                      },
                      yAxis: {
                        visible: false
                      },
                      plotOptions: {
                        area: {
                          marker: {
                            enabled: false
                          }
                        }
                      }
                    }
                  %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>