<p id="notice"><%= notice %></p>

<p>
  <strong>Grow:</strong>
  <%= @batch.grow_id %>
</p>

<p>
  <strong>Harvest:</strong>
  <%= @batch.harvest_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @batch.name %>
</p>

<p>
  <strong>Total weight:</strong>
  <%= @batch.total_weight %>
</p>

<p>
  <strong>Batch weight:</strong>
  <%= @batch.batch_weight %>
</p>

<p>
  <strong>Batch count:</strong>
  <%= @batch.batch_count %>
</p>