<% scenario.rooms.each do |room| %>
	<div class="row">
		<% room.devices.where.not(device_state: :foo).order(pin_number: :asc).each do |device| %>
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div class="card mb-4">
					<div class="card-header">
				    <b><%= device.name %></b>

				    <div class="float-right">
				    	<span class="badge badge-pill badge-<%= device.state_color %>"><%= device.device_state.titleize %></span>
				    </div>
				  </div>

	  			<ul class="list-group list-group-flush">
	  				<% if device.operations.count > 0 %>
	  					<% device.operations.each do |operation| %>
								<li class="list-group-item">
									The device <b><%= device.name %></b> should <b><%= operation.command %></b>
									<% if operation.condition_group.conditions.empty? %>
									 	at <b>any conditions</b>.
									<% else %>
										if
									<% end %>
									<br>

									<% operation.condition_group.conditions.each_with_index do |condition, i| %>
										&rarr; <%= "<b>#{Condition.logic_text(condition.logic.to_sym)}</b>".html_safe if i != 0 %> <%= condition.condition_text.html_safe %><br>
									<% end %>
								</li>
							<% end %>
	  				<% else %>
	  					<li class="list-group-item text-center text-muted">
	  						<i>No condition yet</i>
	  					</li>
	  				<% end %>
	  			</ul>
	  		</div>
	  	</div>
		<% end %>
	</div>
<% end %>
