<%= form_with(model: [:admin, alert], local: true, class: "col-md-12 col-lg-8 mx-auto") do |form| %>
  <h1>
    <%= alert.new_record? ? "New alert" : "Editing alert" %>
    <div class="float-right">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </h1>

  <% if alert.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4><%= pluralize(alert.errors.count, "error") %> prohibited this alert from being saved:</h4>

      <ul>
      <% alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>

  <div class="form-group">
    <%= form.check_box :enabled, data: {toggle: "toggle", size: "sm"} %> Enabled
  </div>

  <div class="form-group">
    <%= form.check_box :push_enabled, data: {toggle: "toggle", size: "sm"} %> Web Push Enabled
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :alert_type %>
    <%= form.select :alert_type, options_for_select(Alert.alert_types.keys.map { |e| [e.titleize, e] }, form.object.alert_type), {}, class: "form-control alert_types" %>
  </div>

  <div id="data_type_alert" class="form-group alert_type_from_group">
    <%= form.label :data_type_id %>
    <%= form.select :data_type_id, options_from_collection_for_select(DataType.all, "id", "name", form.object.data_type_id), {}, class: "form-control" %>
  </div>

  <div id="resource_alert" class="form-group alert_type_from_group">
    <%= form.label :resource_id %>
    <%= form.select :resource_id, options_from_collection_for_select(Resource.all, "id", "name", form.object.resource_id), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :operator %>
    <%= form.select :operator, options_for_select(Alert.operators.keys.map { |e| [e.titleize, e] }, form.object.operator), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :value %>
    <%= form.text_field :value, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control" %>
  </div>

  <br>

  <h4>Notified users</h4>

  <div class="form-group">
    <table class="table">
    <%= form.collection_check_boxes :user_ids, User.all, "id", "email", class: "form-control" do |ff| %>
      <tr>
        <td>
          <%= ff.check_box %>
        </td>
        <td>
          <%= ff.object.username %>
        </td>
        <td>
           <%= ff.object.email %>
        </td>
        <td>
           <%= ff.object.push_devices.count %> push device(s)
        </td>
      </tr>
      
    <% end %>
    </table>
  </div>
<% end %>

<script type="text/javascript">

function toggle_alert_types() {
  $(".alert_types").change(function() {
    $(".alert_type_from_group").hide();
    $("#" + $(this).val()).toggle()
  });
}

function init() {
  toggle_alert_types();
  $(".alert_types").change()
}

$(document).on("ready", function() {
  init()
});

$(document).on("turbolinks:load", function() {
  init()
});

$(document).on('nested:fieldAdded', function(event){
  init()
});
</script>
