<%= form_with(model: [:admin, grow, subject, observation], local: true, class: "col-md-8 mx-auto") do |form| %>
  <h1>
    <%= observation.new_record? ? "New Observation" : "Editing Observation" %>
    <div class="float-right">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </h1>

  <hr>

  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :grow_id, value: grow.id %>
  <%= form.hidden_field :room_id, value: subject.room.id %>
  <%= form.hidden_field :subject_id, value: subject.id, class: "form-control" %>

  <div class="form-group">
    <%= icon "fas", "thumbs-up", class: "fa-2x mr-1", style: "color: lightgray;" %>
    <%= icon "fas", "heart", class: "fa-2x mr-1", style: "color: lightgray;" %>
    <%= icon "fas", "surprise", class: "fa-2x mr-1", style: "color: lightgray;" %>
    <%= icon "fas", "frown", class: "fa-2x mr-1", style: "color: lightgray;" %>
    <%= icon "fas", "thumbs-down", class: "fa-2x mr-1", style: "color: lightgray;" %>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-6">
      <%= form.label 'Water (L)' %>
      <%= form.number_field :water, class: "form-control" %>
    </div>

    <div class="col-6">
      <%= form.label 'Nutrients (mL)' %>
      <%= form.number_field :nutrients, class: "form-control" %>
    </div>
  </div>

  <hr>

  
<% end %>
