<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @observation.user_id %>
</p>

<p>
  <strong>Grow:</strong>
  <%= @observation.grow_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @observation.room_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @observation.subject_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @observation.body %>
</p>

<p>
  <strong>Water:</strong>
  <%= @observation.water %>
</p>

<p>
  <strong>Nutrients:</strong>
  <%= @observation.nutrients %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
