<nav id="sidebar">
  <div class="sidebar-header">
      <h3 class="mt-1">
        <%= link_to root_path do %>
          <%= icon "fas", "seedling", class: "text-success" %>
          MagicBox
        <% end %>
      </h3>
  </div>

  <ul class="list-unstyled components">
    <%= sidebar_item dashboard_path, "Dashboard" do %>
    	<%= icon "fas", "tachometer-alt", class: "ml-1 mr-2 pr-1" %>
    <% end %>
  </ul>

  <ul class="list-unstyled components">
    <li>
      <a href="#roomsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <%= icon "fas", "box", class: "ml-1 mr-2 pr-1" %>
        Rooms
      </a>
      <ul class="collapse list-unstyled" id="roomsSubmenu">
        <% Room.all.each do |room| %>
          <%= sidebar_item(room_path(room), room.name) do %>
              <%= icon "fas", "box", class: "ml-1 mr-2 pr-1" %>
          <% end %>
        <% end %>
      </ul>
    </li>
    
    <%= sidebar_item(grows_path, "Grows") do %>
      <%= icon "fas", "seedling", class: "ml-1 mr-2 pr-1" %>
    <% end %>

    <%= sidebar_item(harvests_path, "Harvests") do %>
      <%= icon "fas", "leaf", class: "ml-1 mr-2 pr-1" %>
    <% end %>

    <%= sidebar_item(batches_path, "Batches") do %>
      <%= icon "fas", "warehouse", class: "ml-1 mr-2 pr-1" %>
    <% end %>
  </ul>

  <ul class="list-unstyled components">
    <%= sidebar_item(journal_path, "Journal") do %>
      <%= icon "fas", "newspaper", class: "ml-1 mr-2 pr-1" %>
    <% end %>
    <%= sidebar_item(calendar_path, "Calendar") do %>
      <%= icon "fas", "calendar", class: "ml-1 mr-2 pr-1" %>
    <% end %>

    <%= sidebar_item(todos_path, "To do's", badge_count: current_user.todos_count) do %>
      <%= icon "fas", "clock", class: "ml-1 mr-2 pr-1" %>
    <% end %>

    <%= sidebar_item(notifications_path, "Notifications", badge_count: current_user.unread_notifications_count) do %>
      <%= icon "fas", "flag", class: "ml-1 mr-2 pr-1" %>
    <% end %>

    <%= sidebar_item(events_path, "Events") do %>
      <%= icon "fas", "exclamation-triangle", class: "ml-1 mr-2 pr-1" %>
    <% end %>

    <%= sidebar_item(samples_path, "Statistics") do %>
      <%= icon "fas", "chart-line", class: "ml-1 mr-2 pr-1" %>
    <% end %>
  </ul>


    <% if current_user.is_admin? %>
    <ul class="list-unstyled components">
      <%= sidebar_item(admin_scenarios_path, "Scenarios") do %>
        <%= icon "fas", "clock", class: "ml-1 mr-2 pr-1" %>
      <% end %>
      
      <%= sidebar_item(admin_devices_path, "Devices") do %>
        <%= icon "fas", "cogs", class: "ml-1 mr-2 pr-1" %>
      <% end %>

      <%= sidebar_item(admin_alerts_path, "Alerts") do %>
        <%= icon "fas", "exclamation-triangle", class: "ml-1 mr-2 pr-1" %>
      <% end %>
    </ul>

    <ul class="list-unstyled components">
      <%= sidebar_item(admin_categories_path, "Categories") do %>
        <%= icon "fas", "box", class: "ml-1 mr-2 pr-1" %>
      <% end %>

      <%= sidebar_item(admin_resources_path, "Resources") do %>
        <%= icon "fas", "tint", class: "ml-1 mr-2 pr-1" %>
      <% end %>

      <%= sidebar_item(admin_data_types_path, "Data types") do %>
        <%= icon "fas", "database", class: "ml-1 mr-2 pr-1" %>
      <% end %>

      <%= sidebar_item(admin_strains_path, "Strains") do %>
        <%= icon "fas", "dna", class: "ml-1 mr-2 pr-1" %>
      <% end %>

      <%= sidebar_item(admin_users_path, "Users") do %>
        <%= icon "fas", "users", class: "ml-1 mr-2 pr-1" %>
      <% end %>

      <%= sidebar_item(admin_settings_path, "Settings") do %>
        <%= icon "fas", "cog", class: "ml-1 mr-2 pr-1" %>
      <% end %>
    </ul>
  <% end %>


  <ul class="list-unstyled components">
    <%= sidebar_item(current_user, current_user.username) do %>
      <%= icon "fas", "user", class: "ml-1 mr-2 pr-1" %>
    <% end %>

    <li>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
          <%= icon "fas", "sign-out-alt", class: "ml-1 mr-2 pr-1" %>
          Disconnect
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>