<nav id="sidebar">
  <div class="sidebar-header">
      <h3>
        <%= link_to root_path do %>
          <%= icon "fas", "seedling", class: "text-success" %>
          MagicBox
        <% end %>
      </h3>
      <strong>MB</strong>
  </div>

  <ul class="list-unstyled components">
    <li>
      <%= link_to admin_dashboard_path do %>
      	<%= icon "fas", "tachometer-alt" %>
      	Dashboard
      <% end %>
    </li>
    <li>
      <%= link_to admin_samples_path do %>
        <%= icon "fas", "chart-line" %>
        Statistics
      <% end %>
    </li>
  </ul>

  <ul class="list-unstyled components">
    <li>
      <%= link_to admin_grows_path do %>
        <%= icon "fas", "seedling" %>
        Grows
      <% end %>
    </li>

    <li>
      <a href="#roomsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <%= icon "fas", "home" %>
        Rooms
      </a>
      <ul class="collapse list-unstyled" id="roomsSubmenu">
      	<% Room.all.each do |room| %>
      		<li>
             <%= link_to [:admin, room] do %>
              <small><%= icon "fas", "home" %></small> <%= room.name %>
             <% end %>
          </li>
      	<% end %>
      </ul>
    </li>

    <li>
      <%= link_to admin_scenarios_path do %>
      	<%= icon "fas", "clock" %>
      	Scenarios
      <% end %>
    </li>

    <li>
      <%= link_to admin_users_path do %>
        <%= icon "fas", "users" %>
        Users
      <% end %>
    </li>
  </ul>

  <ul class="list-unstyled components">
    <li>
      <%= link_to current_user do %>
        <%= icon "fas", "user" %>
        <%= current_user.email %>
      <% end %>
    </li>
    <li>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
          <%= icon "fas", "sign-out-alt" %>
          Disconnect
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>