<!DOCTYPE html>
<html>
  <head>
    <title>Magicbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="wrapper">
        <!-- Sidebar  -->
        <%= render 'layouts/sidebar' %>

        <!-- Page Content  -->
        <div id="content">
            <%= render 'layouts/nav' %>

            <div class="container-fluid">
              <%= render 'layouts/messages' %>
              <%= yield %> 
            </div>
        </div>
      </div>  
    <% else %>   
      <h1 class="text-center mt-5 ">MagicBox</h1>
      <%= yield %> 
    <% end %> 
  </body>
</html>
