<!DOCTYPE html>
<html>
  <head>
    <title>MagicboxRails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <div class="container-fluid mt-5 pt-3">
      <header>
        <%= render 'layouts/messages' %>
      </header>
      <%= yield %> 
    </div>
  </body>
</html>
